@import url('https://fonts.googleapis.com/css2?family=Buda:wght@300&display=swap');
.logo{
    height: 100px;
    width:150px;
    margin-right: 80px;
}
.btn{
    color:#c1121f!important;
}
a{
    text-decoration:none !important;
    font-family: 'Buda', cursive;
}
i{
    color:#c1121f!important;
}
header{
    font-family: 'Buda', cursive !important;
}
footer{
    font-family: 'Buda', cursive;
}
nav > ul >li:hover, :focus{
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover)!important;
    transform: translateY(-0.25em)!important;
    color:#c1121f !important;
}
nav{
    padding-bottom: 0 !important;
}
.ad{
    background:url(https://i.postimg.cc/c1zc58WZ/cakealso.jpg)no-repeat center center/cover;
    color:white;
    text-align:center;
    padding:10px 5px 10px 5px;
    font-family: 'Sans-sarif', cursive;
    margin-bottom: 20px;

}
body {
    overflow-x: hidden;
}
.h2{
    font-family: 'buda',cursive;
    text-align:center;
}
.container{
    width:100%!important;
}
.col {
    box-shadow: 0 4px 8px 0 #c1121f !important;
    transition: 0.3s !important;
    width: 10% !important;
    padding-top: 15px;
    margin-top:20px!important;
    margin-bottom: 20px !important;
    margin-left: 8px !important;
    margin-right: 8px!important;
}
.row > .btn{
    border:2px solid #c1121f!important;
    border-radius: 0.5px!important;
}
.card-body{
    text-align:center;
    font-family: 'buda', cursive;
}
.checks{
    padding: 4px;
    background-color: white;
    font-family: 'buda',cursive;
    border:2px solid #c1121f;
    border-radius: 5px;
}