@import url('https://fonts.googleapis.com/css2?family=Buda:wght@300&display=swap');
.logo{
    height: 100px;
    width:150px;
    margin-right: 80px;
}
.btn{
    color:#c1121f!important;
}
a{
    text-decoration:none !important;
    font-family: 'Buda', cursive;
}
i{
    color:#c1121f;
}
header{
    font-family: 'Buda', cursive !important;
}
footer{
    font-family: 'Buda', cursive;
}
nav > ul >li:hover, :focus{
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover)!important;
    transform: translateY(-0.25em)!important;
    color:#c1121f !important;
}
nav{
    padding-bottom: 0 !important;
}
.ad{
    background:url(https://i.postimg.cc/c1zc58WZ/cakealso.jpg)no-repeat center center/cover;
    color:white;
    text-align:center;
    padding:10px 5px 10px 5px;
    font-family: 'Sans-sarif', cursive;

}
body {
    overflow-x: hidden;
}
.h2{
    font-family: 'buda',cursive;
    text-align:center;
}
.maroon{
    background-color:#c1121f;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
}